*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/**Boot CSS**/

html, body{
	overflow-x: hidden;
	height: 100%;
}

input{
	border: 0;
}

img{
	width: 100%;
	max-width: 400px;
}

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w50{
	padding: 0 10px;
	width: 50%;
}

.clear{
	clear: both;
}

.left{
	float: left;
}

.right{
	float:right;
}

.w33{
	width: 33%;
	padding: 0 10px;
}

#map{
	width: 100%;
	height: 300px;
}

.contato-container {
	padding: 40px 0;
	text-align: center;

}

.contato-container input[type=text],.contato-container input[type=email]{
	width: 100%;
	height: 40px;
	padding-left: 8px;
	font-size: 16px;
	color: #444;
	border: 1px solid #ccc;
	margin: 8px 0;
	max-width: 700px;
}

.contato-container textarea{
	width: 100%;
	height: 120px;
	padding-left: 8px;
	font-size: 16px;
	color: #444;
	border: 1px solid #ccc;
	margin: 8px 0;
	max-width: 700px;
	resize: none;
}

.contato-container input[type=submit]{
	background: #00C59E;
	width: 140px;
	height: 40px;
	color: white;
	cursor: pointer;
}

.overlay-loading{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.4);
}

.overlay-loading img{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: (-50%,-50%);
}

.sucesso{
	position: fixed;
	display: none;
	right: 20px;
	top: 60px;
	padding: 15px 2%;
	z-index: 999;
	color: #008000;
	font-weight: bold;
	font-size: 14px;
	background-color: #DFF2BF;
}

.erroform{
	position: fixed;
	display: none;
	right: 20px;
	top: 60px;
	padding: 15px 2%;
	z-index: 999;
	color: #a94442;
	font-weight: bold;
	font-size: 14px;
	background-color: #f2dede;
}

/**Estilização do site**/

header{
	padding: 20px 0;
	background: #3D437A;
}

header .logo {
	font-size: 23px;
	color: white;
	font-weight: 300;
	text-transform: uppercase;
}

.mobile{
	display: none;
}

nav.desktop ul{
	list-style-type: none;
	position: relative;
	margin-top: 6px;
}

nav.desktop li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 15;
	padding: 0 30px;
	font-weight: 300;	
}

nav.desktop a{
	color: white;
	text-decoration: none;
}

nav.desktop a:hover{
	text-decoration: underline;
}

.banner-container{
	width: 100%;
	height: 600px;
	position: relative;
}

.banner-single{
	opacity: 0;
	position: absolute;
	filter: grayscale(1);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	height: 100%;
	background-color: rgba(51,51,51,0.7);
}

section.banner-container form{
	position: absolute;
	width: 93%;
	max-width: 600px;
	z-index: 4;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

section.banner-container h2{
	color: white;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
}

section.banner-container form input[type=email]{
	width: 100%;
	height: 66px;
	background: white;
	color: #333;
	font-size: 22px;
	padding-left: 10px;
	margin-top: 10px;
}

section.banner-container form input[type=submit]{
	width: 100%;
	height: 66px;
	background: #00C59E;
	color: white;
	font-size: 22px;
	cursor: pointer;
	border: 0;
	margin-top: 10px;
}

section.descricao{
	padding: 40px 0;
}

section.descricao h2{
	font-size: 30px;
	font-weight: 400;
	color: #444;
}

section.descricao p{
	font-size: 16px;
	color: #444;
	margin-top: 10px;
}



section.especialidades{
	padding: 40px 0;
	background: #E2E2E2;
}

section.especialidades .title{
	font-size: 30px;
	font-weight: 400;
	color: #999;
	text-align: center;
}

.box-especialidade {	
	text-align:center;
	margin: 40px 0;
	padding: 0 30px;
}

.box-especialidade h3{
	font-size:  40px;
	color: #404580;
}

.box-especialidade h4{
	color: #BABABA;
	font-weight: 300;
	font-size: 25px;
}

.box-especialidade p{
	color: #444;
	font-size: 15px;
	margin-top: 10px;
}

section.extras{
	background: #404580;
	padding:30px 0;
}

.servicos-container, .depoimentos-container{
	padding: 0 50px;
}

section.extras .title{
	color: white;
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 15px;
}

section.extras .depoimento-single{
	padding: 15px 0;
	border-bottom: 1px solid #5056A0;
}

p.depoimento-descricao{
	font-size: 15px;
	color: white;
	font-weight: 300;
}

p.nome-autor{
	font-size: 15px;
	color: white;
	margin-top: 5px;
	font-weight: bold;
}

div.servicos ul{
	margin: 20px 0;
}

div.servicos li{
	font-size: 15px;
	color: white;
	font-weight: 300;
	margin-top: 15px;
}

footer{
	background: #313462;
	padding: 30px 0;
}

footer p{
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}

footer.fixed{
	bottom: 0;
	position: fixed;
	width: 100%;
}

section.erro404 h2{
	text-align: center;
	color: #444;
	font-weight: 400;
	font-size: 28px;
	border-top: 2px solid #444;
}

section.erro404 p {
	color: #444;
	margin-top: 8px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

section.erro404 a {
	color: #444;
}

.wraper-404{
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-width: 1280px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
}

.bullets{
	position: absolute;
	z-index: 5;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%); 
}

.bullets span{
	margin: 0 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #444;
	display: inline-block;
}

.bullets span.active-slider{
	background-color: white;
}

@media screen and (max-width: 768px){
	img{
		display: block;
		margin: 0 auto;
		float: none !important;
	}

	.w50{
		padding: 20px;
		width: 100%;
	}

	.w33{
		padding: 10px;
		width: 100%;
	}

	.box-especialidade{
		margin: 0;
		padding: 40px 20px;
	}

	
}

@media screen and (max-width: 700px){
	.desktop{
		display: none;
	}

	.mobile{
		display: block;
	}

	.mobile ul{
		display: none;
		position: absolute;
		left: 0;
		top: 55px;
		z-index: 3;
		text-align: center;
		width: 100%;
	}

	.botao-menu-mobile{
		font-size: 24px;
		color: white;
		cursor: pointer;
	}

	nav.mobile li{
		width: 100%;
		display: block;
		font-size: 17px;
		background: white;
		font-weight: 300;
		border-bottom: 1px solid #ccc;
		padding: 8px 0;
	}

	nav.mobile a{
		color: #444;
		text-decoration: none;
		display: block;
	}
}